# --- Client ---
client/node_modules/
client/dist/
client/dist-ssr/
client/.vite/

# --- Server ---
server/node_modules/
server/dist/

# --- Env ---
.env
.env.*

# --- OS/Editor ---
.DS_Store
.vscode/
